include requirements.txt
include README.rst
recursive-include {{ module_name }} *.ini
recursive-include migrations *.py *.mako *.ini
recursive-include docs *.rst *.png *.svg *.css *.html conf.py
prune docs/build/*