from setuptools import setup, find_packages
from {{ module_name }} import __version__

def requirements():
    with open('requirements.txt') as f:
        return [dep for dep in f.read().split('\n')
                if dep.strip() != '' and not dep.startswith('-e')]


setup(name='{{ module_name }}',
      version=__version__,
      packages=find_packages(),
      zip_safe=False,
      include_package_data=True,
      install_requires=requirements(),
      entry_points="""
      [console_scripts]
      {{ project_name }} = {{ module_name }}.run:cli
      """)
